/* Background gradient full screen */
.login-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f8dfd, #6d5dfc);
}

/* Card modern */
.login-card {
  background: white;
  padding: 40px;
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s ease;
}

/* Animasi masuk */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Input modern */
.input-modern {
  height: 48px;
  border-radius: 12px;
  border: 1px solid #cad5e2;
  font-size: 16px;
  padding-left: 15px;
  background: #f7f9fc;
}

.input-modern:focus {
  border-color: #4f8dfd;
  box-shadow: 0 0 0 3px rgba(79, 141, 253, 0.2);
}

/* Password wrapper */
.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #4f8dfd;
  cursor: pointer;
}

.toggle-password:hover {
  text-decoration: underline;
}

/* Tombol modern */
.btn-modern {
  height: 48px;
  border-radius: 12px;
  background: #4f8dfd;
  border: none;
  font-size: 18px;
}

.btn-modern:hover {
  background: #3b7afa;
}

/* Link signup */
.signup-link {
  color: #4f8dfd;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-page {
  min-height: 100vh; /* Biar memenuhi tinggi layar */
  width: 100%; /* Biar melebar penuh */
  background: linear-gradient(135deg, #4c72ff, #7f5cff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.search-input {
  border-radius: 50px;
  padding: 6px;
  background: white;
  /* BORDER LEBIH TEBAL */
  border: 3px solid #d0d7e2;
}

.search-input input {
  font-size: 15px;
  border: none;
}

.search-input input:focus {
  box-shadow: none;
}

.search-input .input-group-text {
  border: none;
  background: transparent;
}

.search-input button {
  border: none;
}

.search-input:focus-within {
  border-color: #4f8dfd;
  box-shadow: 0 0 0 4px rgba(79, 141, 253, 0.2);
}

.search-input button:hover {
  background-color: transparent;
}
